@font-face {
  font-family: "Vazirmatn";
  src: url("../src/assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
}
:root {
  --MAIN-COLOR: rgb(6, 38, 168);
  --SECONDARY-COLOR: rgb(31, 2, 139);
  --THIRD-COLOR: rgba(3, 55, 99, 0.662);
  --BACKGROUND-COLOR: aliceblue;
  --COMPONENT-WIDTH: 20rem;
  --MARGIN-TOP-COMPONENT: 8px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}
body {
  direction: rtl;
  background-color: aliceblue;
}

form {
  display: flex;
  flex-flow: row wrap;
  column-gap: 5px;
}

div.container {
  /* background-color: red; */
  height: fit-content;
  display: flex;
  gap: 1rem;
}

div.rootContainer {
  height: 100vh;
}
div.rootContainer header {
  padding: 0.5rem;
  background-color: var(--THIRD-COLOR);
  color: white;

  border-radius: 0 0 0px 20px;
  border: 2px solid gray;
  box-shadow: -3px 3px 10px gray;
  z-index: -666;
  margin-bottom: 4px;
}

div.headerRootContainer {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 20px 0 20px 0;
}

div.pageContainer {
  margin-top: 0.5rem;
}

.headerRootContainer {
  display: flex;
  justify-content: space-between;
}

.headerIcons {
  width: 40px;
  margin: 10px;
}

.headerRootContainer div {
  display: flex;
  justify-self: center;
  align-items: center;
}

.headerRootContainer span {
  font-size: 8px ;
}

div.test {
  height: 20px;
  position: relative;
  background-color: var(--THIRD-COLOR);
  margin-top: -15px;
  width: 50%;
  margin-inline: auto;
  z-index: -10000;
  border-radius: 0 0 20px 20px;
}